{
  "extends": [
    "defaults",
    "defaults/configurations/eslint",
    "defaults/configurations/airbnb/es6"
  ],

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },

  "globals": {
    "angular": true
  },
  "rules": {
    "no-empty-label": 0, // disallow use of labels for anything other then loops and switches
    "space-after-keywords": 0,
    "space-return-throw-case": 0 // require a space after return, throw, and case
  }
}